#root{
  width: 100vw;
  height:100vh;
}

#main-content{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#job-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  height: fit-content;
}

#job-form{
  width: 75%;
  height: 100%;

  margin-bottom: 50px;

  box-shadow: 0px 0px 10px #C2D3CD;
}

#job-form-content{
  margin:20px;
}

#job-display-container{
  height: 75vh;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 50px;
}

#spacer{
  min-height:65px;
  width:15px;
}

#company-name{
  margin-left:15px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  color:#39393A;
  font-weight:bolder;
}

#job-name{
  margin-left:15px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 15px;
  color:#39393A;
  font-weight:bolder;
  background-color:#d1dfda;
  border-radius:10px;
  width:fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.job-display-tab{
  display:flex;
  flex-direction: column;

  align-items: center;
  min-height: 350px;
  max-height: 350px;
  width:350px;
  background-color: #E6E6E6;
  margin: 50px;

  border-radius: 25px;

  overflow-y: scroll;

  box-shadow: 0px 0px 15px #C2D3CD;
}

#job-item{
  height:50px;
  min-height:75px;
  width:75%;
  height:fit-content;
  background-color: #C2D3CD;

  margin-bottom: 10px;

  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
}

.background{
  background-color: #39393A;
}

.tab-background{
  background-color: #E6E6E6;
  border-radius: 20px;
}

p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.tab-header{
  padding:5px;
  margin-left:20px;

  color: white;
  font-weight: bold;
  font-size: 20px;

  background-color: #297373;
  border-radius: 15px;
  width:fit-content;
  height: fit-content;
}

.job-tab-header{
  padding:5px;

  color: white;
  font-weight: bold;
  font-size: 20px;

  background-color: #297373;
  border-radius: 15px;
  width:fit-content;
  height: fit-content;

  position:absolute;
}

form{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 30px;
}

.form-header{
  padding:5px;
  color: white;
  font-weight: bold;
  font-size: 15px;

  background-color: #297373;
  border-radius: 15px;
  width:fit-content;
  height: fit-content;
}

.job-form-div{
  margin-right:30px;
 margin-bottom:30px;

  background-color: #C2D3CD;
  padding:10px;
  padding-top:0px;
  border-radius: 15px;

  box-shadow: 0px 0px 10px gray;
}

.job-form-textarea{
  resize:none;
  background-color: #39393A;
  border-radius: 10px;
  padding: 5px;

}
